@{
    Layout = "_Layout";
    ViewBag.Title = "Get Coalesce";
}
<div class="container">
    <h1>Get Coalesce</h1>
    <h3>Here is how you can get started with Coalesce:</h3>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i> Use templates with the dotnet CLI</h3>
        </div>
        <div class="panel-body">
            <ol>
                <li>Decide if you want to set up a Knockout or a Vue project</li>
                <li>Open a command prompt that is aware of the dotnet CLI (PowerShell or Visual Studio Developer Command Prompt)</li>
                <li>
                    Install the project template of your choice. <i>(You will not need to do this every time you want to start a new Coalesce project)</i>
                    <pre>
CMD> dotnet new --install IntelliTect.Coalesce.KnockoutJS.Template
</pre>
                    For Vue:
                    <pre>
CMD> dotnet new --install IntelliTect.Coalesce.Vue.Template
</pre>
                </li>
                <li>Make a new folder and change directory to it in your command prompt</li>
                <li>
                    Generate a project!  For Knockout, run:
                    <pre>CMD> dotnet new coalesceko [-n Optional.Name]</pre>
                    or for Vue, run:
                    <pre>CMD> dotnet new coalescevue [-n Optional.Name]</pre>
                    If you don't specify a name, the template will infer one from the name of the folder you are in.
                </li>
            </ol>
        </div>
    </div>


</div>